body {
    background-color: #9fffff;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;

}
h1{
    margin: 40px;
}

a{
    display: block;
    margin: 10px;
    color: #000000;
}